body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, rgba(255, 223, 186, 0.6), rgba(255, 170, 123, 0.7)), url('../../static/home/home_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipe-page {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding-top: 80px;
}

.recipe-page .container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-page h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
}

.recipe-page form {
    display: grid;
    gap: 20px;
}

.recipe-page label {
    font-weight: bold;
    color: #555;
}

.recipe-page input, .recipe-page select, .recipe-page textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fafafa;
}

.recipe-page textarea {
    min-height: 150px;
    resize: vertical;
}

.recipe-page .button-container {
    display: flex;
    justify-content: space-between;
}

.recipe-page button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
}

.recipe-page button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.recipe-page button[type="button"].return-home {
    background-color: #00CED1;
    color: white;
}

.recipe-page button:hover {
    opacity: 0.9;
}

.recipe-page button[type="submit"]:hover {
    background-color: #45a049;
}

.recipe-page button.return-home:hover {
    background-color: #20B2AA;
}

.recipe-page select:focus {
    outline: none;
    border-color: #4CAF50;
}

.recipe-page input:focus, .recipe-page textarea:focus {
    border-color: #4CAF50;
}
